@import url('http://fonts.googleapis.com/css?family=Lato');

body,html {
  background:#ACF9E5;
  height:100%;
}

div, ul , li{
    display: block; position: relative;
    margin: 0; padding: 0;
}

span, li{ font-family: 'Lato', sans-serif; }

.container{
  position:absolute;
  margin: auto;
  width: 520px;
  height: 240px;
  top: 0; bottom: 0; left: 0; right: 0;
}

.container .plane{
  position:absolute;
  margin: auto;
  width: 100%;
  height: 70%;
  top: 0; bottom: 0; left: 0; right: 0;
  animation:fly 1s infinite;
  -webkit-animation:fly 1s infinite;
}

.plane .p-body{
  position:absolute;
  margin: auto;
  width: 50%;
  height: 100%;
  right: 0;
  overflow: visible;
}

.plane .p-body .p-parts{
  position:absolute;
  margin: auto;
  width: 100%;
  height: 60%;
  bottom: 0; right: 0;
}

.p-parts .part-one, .p-parts .part-two, .p-parts .part-three{
  float: left;
  width: 30%;
  background: #2E8F2D;
  height: 100%;
}

.p-parts .part-one {
  border-radius: 25% 0 0 85%;
  width: 35%;
}

.p-parts .part-one .po-up, .p-parts .part-one .po-middle , .p-parts .part-one .po-down,
.part-two .pt-wing {
  position: absolute;
  background: #247023;
  margin: auto;
  z-index: 0;
}

.p-parts .part-one .po-up {
  height: 30%;
  width: 55%;
  border-radius: 15% 95% 0 0;
  right: 20%;
  bottom: 100%;
}

.p-parts .part-one .po-middle {
  height: 10%;
  width: 60%;
  border-radius: 25%;
  left: 0%;
  bottom: 50%;
}

.p-parts .part-one .po-down {
  height: 15%;
  width: 20%;
  border-radius: 0 0 50% 50%;
  right: 10%;
  top: 100%;
  background: #444;
}

.p-parts .part-two {
  height: 60%;
  top: 41%;
  width: 25%;
}

.p-parts .part-two .pt-wing {
  height: 25%;
  width: 100%;
  border-radius: 0 0 70% 25%;
  bottom: 30%;
}

.p-parts .part-three {
  border-radius: 0 45% 45% 0;
  overflow: visible;
}

.p-parts .part-three .roll {
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #444;
  z-index: 9;
  top: 102%;
}

.helix {
  position: absolute;
  margin: auto; 
  height: 100%;
  width: 8%;
  right: 3%;
}

.helix .h-base{
  display: block;
  position: absolute;
  border-radius: 0 50% 50% 0;
  background: #444;
  margin: auto; 
  top: 40%;
  height: 25%;
  width: 100%;
  z-index: 2;
}

.helix .h-rotor{
  display: block;
  border-radius: 50%;
  background: #333;
  margin: auto; 
  height: 100%;
  width: 40%;
  z-index: 1;
  animation:h-fly 1s infinite;
  -webkit-animation:h-fly 1s infinite;
}

.cat {
  background:#BB8963;
  height: 30%;
  top: 35%;
  width: 16%;
  left: 40%;
  z-index: 1;
}

.cat:before{
   width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #BB8963;
    top: -15px;
    left: 0;
    position: absolute;
    content: "";
}

.cat:after{
   width: 0;
    height: 0;
    border-right: 0px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #BB8963;
    top: -15px;
    right: 0;
    position: absolute;
    content: "";
}

.cat .eyes{
  position: absolute;
  height: 6px; width: 6px;
  background: #FFF;
  border-radius: 100%;
  top: 12px;
}

.cat .eyes.left{ left: 6px; }
.cat .eyes.right{  right: 6px; }

.cat .mouth{
  position: absolute;
  height: 8px; width: 8px;
  background: #DB4073;
  border-radius: 0 0 50% 50%;
  top: 20px;
  margin: auto;
  left: 0; right: 0;
}

.plane .p-message{
  position:absolute;
  margin: auto;
  width: 50%;
  height: 100%;
  left: 0;
}

.plane .p-message .rope{
  display: block;
  position:absolute;
  border: 1px solid #333;
  left: 90%;
  bottom: 50%;
  width: 10%;
}

.plane .p-message ul{
  position:absolute;
  border-right: 8px solid #333;
  width: 92%;
  height: 25%;
  bottom: 35%;
}

.plane .p-message ul li{
  float: right;
  height: auto;
  background: #FFF;
  width: auto;
  text-align: center;
  line-height: 2.85em;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.70em;
  color: #777;
}

.plane .p-message ul li.middle{
  top: 0px;
  background: #FAFAFA;
  animation:m-fly 1s infinite;
  -webkit-animation:m-fly 1s infinite;
}


@keyframes fly{
0 {top:0px;}
25% {top:10px;}
50% {top:0px;}
75% {top:10px;}  
100% {top: 0%;}
}

@-webkit-keyframes fly /*Safari and Chrome*/ {
0 {top:0px;}
25% {top:10px;}
50% {top:0px;}
75% {top:10px;}  
100% {top: 0%;}
}

@keyframes m-fly {
0 {top:0px;}
25% {top:5px;}
50% {top:0px;}
75% {top:5px;}  
100% {top: 0%;}
}

@-webkit-keyframes m-fly /*Safari and Chrome*/ {
0 {top:0px;}
25% {top:5px;}
50% {top:0px;}
75% {top:5px;}  
100% {top: 0%;}
}

@-webkit-keyframes h-fly /*Safari and Chrome*/ {
0 {height:100%; margin-top: 0; background: #333;}
10% {height:90%; margin-top: 8px; background: #111;}
20% {height:100%; margin-top: 0; background: #333;}
30% {height:90%; margin-top: 8px; background: #111;}
40% {height:100%; margin-top: 0; background: #333;}
50% {height:90%; margin-top: 8px; background: #111;}
60% {height:100%; margin-top: 0; background: #333;}
70% {height:90%; margin-top: 8px; background: #111;}
80% {height:100%; margin-top: 0; background: #333;}
90% {height:90%; margin-top: 8px; background: #111;}
100% {height:100%; margin-top: 0; background: #333;}
}

/*---------------------
    ??????????
    ????
----------------------- */
.slide_container {
  width: 100%;
    
  /*??3???????????*/
  position: absolute;
  top: 0;
  z-index: 999;
}

#menu {
  padding: 50px 0;
  border-bottom: solid 10px #ff725d;
  background: #ACF9E5;

  /*????????????*/
  display: none;
}

#menu ul {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  width: 100%;
}

#menu li {
  float: left;
  padding: 0;
  width: 20%;
  list-style: none;
}

#menu li a {
  display: block;
  margin: 0 5%;
  padding: 20px 0;
  border: solid 1px #333;
  background: #fff;
  color: #666;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
#menu li a:hover {
  border: solid 1px #12a1c6;
  color: #12a1c6;
}
#menu li a:active {
  border: solid 1px #0e7b97;
  color: #0e7b97;
}

/*---------------------
    ???????
----------------------- */
#btn {
  margin: 0 auto;
  width: 200px;
  height: 30px;
  border-radius: 0 0 5px 5px;
  background: #ff725d;
  cursor: pointer;
}

#btn span {
  position: relative;
  top: 12px;
  left: 50%;
  display: block;
  margin-left: -25px;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  box-shadow: inset 1px 1px 2px #ddd;
}
/*---------------------
    ?????????
    ????
----------------------- */
.layer {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ACF9E5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=50)";
  opacity: 0.5;
}


.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
	text-decoration: none;	
}

.blue
{
  background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

footer {
  background-color: #999;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  position: fixed;
  right: 0;
  text-align: center;
}


.container p { margin-top: 10px; }
a { text-decoration: none; margin: 0 10px; }

.container {
	min-height: 100px;
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

a.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

	a.btn:hover {
		background-color: #e3e3e3;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

